name: Platform Guardrails
on: 
  push:
    # branches: [ main ]
  pull_request:
    # branches: [ main ]

jobs:
  security:
   runs-on: ubuntu-latest
   steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Secret Scan
        uses: trufflesecurity/trufflehog@main
        with:
          path: ./
          # base: ${{ github.event.repository.default_branch }}
          # head: HEAD
          extra_args: --results=verified,unknown
      - name: Checkov Scan
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          framework: terraform,kubernetes
      - name: Create K8s Cluster (Kind)
        uses: helm/kind-action@v1
        with:
          cluster_name: minikube
      - name: Run kube-bench (Job)
        run: |
          kubectl apply -f test/kube-bench-job.yaml
          kubectl wait --for=condition=complete job/kube-bench --timeout=120s
          kubectl logs job/kube-bench > kube-bench-report.json
          cat kube-bench-report.json | grep "Total" || true
      - name: Upload kube-bench Report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: kube-bench-report
          path: kube-bench-report.json
          retention-days: 5
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4"
          terraform_wrapper: false
      - name: Terraform Plan
        run: make tf-plan-local-ci
        env:
          KUBECONFIG: ${{ github.workspace }}/.kube/config
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' && github.event.pull_request.merged == true
        run: make tf-apply-local-cd
          